{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section class="projects-section bg-dark" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h5 class="text-white"><u>Name:</u> {{ profile.first_name }} {{ profile.last_name }}
                                </h5>
                                {% if profile.email %}
                                    <h5 class="text-white"><u>Email:</u> {{ profile.email }}</h5>
                                {% endif %}
                                {% if is_owner %}
                                    <a href="{% url 'change password' %}" class="btn btn-primary">Change Password</a>
                                    <a href="{% url 'edit profile' profile.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete profile' profile.pk %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}