{% extends 'base.html' %}
{% block page_content %}
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <h2 class="text-white mb-5">Budget for month of: {{ budget.month }}</h2>
                    <form class="form-signup" id="contactForm" method="post"
                          action="{% url 'budget delete' budget.pk %}">
                        {% csrf_token %}
                        <p>Are you sure you want to delete this budget?</p>
                        {{ form }}
                        <button class="btn btn-primary" id="submitButton" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}