{% extends 'base.html' %}
{% block page_content %}
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Budget</h2>
                    {% if is_owner %}
                        <form class="form-signup" id="contactForm" method="post"
                              action="{% url 'budget edit' budget.pk %}">
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-primary" id="submitButton" type="submit">Edit Budget</button>
                        </form>
                    {% else %}
                        <h2 class="text-white mb-5">You are not the owner of this budget</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}