{% extends 'base.html' %}
{% block page_content %}
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    {% if is_owner %}
                        <h2 class="text-white mb-5">Income for month of {{ income.month }} with
                            value {{ income.value }}</h2>
                        <form class="form-signup" id="contactForm" method="post"
                              action="{% url 'income delete' income.pk %}">
                            {% csrf_token %}
                            <p>Are you sure you want to delete this income?</p>
                            {{ form }}
                            <button class="btn btn-primary" id="submitButton" type="submit">Delete</button>
                        </form>
                    {% else %}
                        <h2 class="text-white mb-5">You are not the owner of this income</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}